<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
     <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet"> 
    
 
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/blog.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap/bootstrap-utilities.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap/bootstrap.rtl.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap/bootstrap.rtl.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap/bootstrap-grid.css')}}">
    


    <title>PuruBlog</title>

    {% block head %}
    {% endblock %}

</head>
<body >

    
    

    <nav class="navbar navbar-expand-md navbar-light bg-light " >
        <div class="container-fluid p-3 shadow  bg-white rounded" id='navbarr'>
            <a class="navbar-brand" href="{{url_for('index')}}">
                <img src="{{url_for('static',filename='images/logo.png')}}" ></a>
            <a class="navbar-brand" href="{{url_for('index')}}">Welcome To My Blog</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                    data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" 
                    aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div id="navbarResponsive" class="collapsed navbar-collapse  justify-content-end" >
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a href="{{url_for('home')}}" class="nav-link">Home</a>
            </li>
            <li class="nav-item active">
                <a href="{{url_for('page',blogid='11')}}" class="nav-link">Page</a>
            </li>
            <li class="nav-item">
                <a href="{{url_for('forms')}}" class="nav-link">Form/About</a>
            </li>
            <li class="nav-item">
                <a href="{{url_for('posts',blogid='11')}}" class="nav-link">Posts/Services</a>
            </li>
            
            </li>

            </ul>
          </div>
        </div>
      </nav>
<div style="min-height: 283px;" >



{% block carousel %}
    
{% endblock carousel %}



    {% block body %}{% endblock %}
</div>
<!---<img src="{{url_for('static',filename='images/hobbit.jpg')}}" alt="..." style="height: 100%; width: 100%;"> -->
    
    {% block footer %}
        
    {% endblock footer %}
        
    
<!--- Footer -->
<footer style="bottom: 0;">
	<div class="container-fluid padding">
		<div class="row text-center">
			<div class="col-md-4">
				<img src="{{url_for('static',filename='images/logo.png')}}">
				<hr class="light">
				<p>5555-5555-5555</p>
				<p>email@gmail.com</p>
				<p>100 street name</p>
				<p>city, state, pincode-123456</p>
			</div>
			<div class="col-md-4">
				<hr class="light">
				<h5>Our Hours</h5>
				<hr class="light">
				<p>Monday: 9am-4pm</p>
				<p>Saturday: 10am-5pm</p>
				<p>Sundays closed</p>
			</div>
			<div class="col-md-4">
				<hr class="light">
				<h5>Service Areas</h5>
				<hr class="light">
				<p>city, state, pincode-123456</p>
				<p>city, state, pincode-123456</p>
				<p>city, state, pincode-123456</p>
				<p>city, state, pincode-123456</p>
			</div>
			<div class="col-12">
				<hr class="light-100">
				<h5>&copy; w3newbie.com</h5>
			</div>
		</div>
	</div>
</footer>


<!-- The core Firebase JS SDK is always required and must be listed first ->
<script src="/__/firebase/8.3.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries ->
<script src="/__/firebase/8.3.0/firebase-analytics.js"></script>

<!-- Initialize Firebase ->
<script src="/__/firebase/init.js"></script>

-->
</body>
</html>