{% extends "layout.html" %}
{% block home %}
Information
{% endblock %}
{% block Content %}

<!-- div letting user input a blog -->
<div id="newBlog" class="container-fluid padding">
	<div class="row welcome text-center d-grid gap-2">
		<div class="col-12">
			<h1 class="display-4">Create New Blog</h1>
		</div>
		
	</div>
</div>

<div class="container-fluid shadow  p-3 mb-5 bg-body rounded  ">
  <div class="row text-left bg-info m-2">
    <div class="col-md-6 col-lg-5 ">
      
      <div class="input-group mb-3 pt-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Blog Title : </span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>


      
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Author Name :</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
  
  
      
      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Category :   </label>
        <select class="form-select" id="inputGroupSelect01">
          <option selected>...</option>
          <option value="1">Spiritual</option>
          <option value="2">Travel</option>
          <option value="3">Health and Fitness</option>
        </select>
      </div>

      
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Image Link : </span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
  
      
    </div>
    <div class="col-md-6 col-lg-7 p-3">
      
      <div class="input-group area ">
        
        <span class="input-group-text">Blog Text</span>
        <textarea class="form-control " aria-label="With textarea"></textarea>
      </div>
      
  </div>
</div>
<div class="container-fluid ">
  <div class="row text-center mr-0 " >
    <div class=" pt-2 " style="float: right;">
      <button type="submit" class="btn btn-primary">Preview Blog</button>
      <button type="submit" class="btn btn-warning">Save Draft</button>
      <button type="submit" class="btn btn-success">Publish Blog</button>
    </div>
  </div>
</div>
</div>
<hr>


<!-- My Drafted Blogs-->
<div id="newBlog" class="container-fluid padding">
	<div class="row welcome text-center d-grid gap-2">
		<div class="col-12">
			<h1 class="display-4">Drafted Blogs</h1>
		</div>
	</div>
</div>
<div class="container pt-4">
  <div class="row">
    <div class="col-xl-3 col-lg-4 col-md-6 blogs">
        <div class="card w-1000 shadow p-3 mb-5 bg-white rounded">
              <img class="card-img-top"  src="{{url_for('static',filename='images/Spiritual.jpg')}}" >
              <div class="card-body">
                 <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Edit Blog</a>
              </div>
        </div>
    </div>

  </div>
</div>
<hr>
<!-- My Existing Blogs-->

<div id="newBlog" class="container-fluid padding">
	<div class="row welcome text-center d-grid gap-2">
		<div class="col-12">
			<h1 class="display-4">Published Blogs</h1>
		</div>
	</div>
</div>

<div class="container pt-4">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6 blogs">
            <div class="card w-100 shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
              
                <img src="{{url_for('static',filename='images/apple.jpg')}}" class="card-img-top"  >
                <div class="card-body">
                  <h5 class="card-title">Card title </h5>
                  <!--Accordian-->
                  <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item" >
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" style="height: 1px;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                          info
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                          <h6 class="card-subtitle mb-1 text-muted">Author : </h6>
                          <h6 class="card-subtitle mb-1 text-muted">Category : </h6>
                          <h6 class="card-subtitle mb-2 text-muted">Published : <br> </h6>
                        </div>
                      </div>
                    </div>
                    </div>
                  <!--AccordianEnd-->
                    
               
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                  
                </div>
              </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6  blogs">
            <div class="card w-100 shadow p-3 mb-5 bg-white rounded" >
                <img src="{{url_for('static',filename='images/robot.jpg')}}" class="card-img-top" >
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
      </div>
</div>




{% endblock %}