body{
    margin: auto;
}

.max-lines {
    display: block;/* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 4em;
    line-height: 1em;
  }
.dcolumn{
    border: .5rem;
    background-color: aquamarine;
    border-width: 1em;
   top: 20%;
}
.ddiv{
    padding-top: .5rem;
    background-color: #c1d0df;
    color: #000;
}


* {
    box-sizing: border-box;
  }
footer{
    background-color:rgb(114, 101, 101);
    color: white;

    bottom:0;
    width:100%;
}

.carousel-item{
width: 100%;
}
.area{
  height: 200px;
}
.input-group-text{
  width: 8rem;
}

body{
    color: rgb(15, 15, 15);
}

/*glass*/
.container {

    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
  }


/*span*/

.input,
.textarea {
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: inherit;
  
 
  
}



.input-wrap {
  position: relative;
}
.input-wrap .input {
  position: absolute;
  width: 100%;
  left: 0;
}


.textareaSpan {
  display: block;
  width: 100%;
  
  overflow: auto;
  resize: both;
  min-height: 20rem;
  line-height: 20px;
  max-height: 45rem;
}

.textareaSpan[contenteditable]:empty::before {
  content: "Placeholder still possible";
  color: gray;
}

/* background*/
.bg{
  /*background-image: url('../images/hobbit.jpg');
  height: 100%;
  width: 100%;*/
  
}

.jumbotron{
  padding-bottom: 1rem;
  border-radius: 0;
  color: #ffffff  ;
  background-color: darkgrey;
  padding-top: 2rem;
}


